{% if request.user.is_authenticated %}

  <p>{{request.user}}</p>
<a href="{% url 'logout' %}">logout</a>
{% else %}
<a href="{% url 'login' %}">login</a>
{% endif %}
<hr>
<h1>view customer</h1>
<a href={% url 'add-cust' %}>ADD</a>


<table>
  <tr>
    <th>ID</th>
    <th>fullname</th>
    <th>email</th>
    <th>mothersname</th>
    <th>nationality</th>
    <th>bloodgroup</th>
    <th></th>
  </tr>
  {% for cust in customers %}
  <tr>
    <td>{{cust.id}}</td>
    <td>{{cust.fullname}}</td>
    <td>{{cust.email}}</td>
    <td>{{cust.mothername}}</td>
    <td>{{cust.nationality}}</td>
    <td>{{cust.blood_group}}</td>
    <td><a href={% url 'customer-detail' cust.id %}>View</a></td>
    
  </tr>
  {% empty %}
  <h3>no customers in the list</h3>
  {% endfor %}
</table>
