{% if request.user.is_authenticated %}

  <p>{{request.user}}</p>
<a href="{% url 'logout' %}">logout</a>
{% else %}
<a href="{% url 'login' %}">login</a>
{% endif %}
<hr>
<h1>view customer</h1>
<a href={% url 'add-cust' %}>ADD</a>

{{customer}}
<table>
  <tr>
    <th>ID</th>
    <th>fullname</th>
    <th>email</th>
    <th>mothersname</th>
    <th>nationality</th>
    <th>bloodgroup</th>
    <th></th>
  </tr>
  {% for customer in customers %}
  <tr>
    <td>{{customer.id}}</td>
    <td>{{customer.fullname}}</td>
    <td>{{customer.email}}</td>
    <td>{{customer.mothername}}</td>
    <td>{{customer.nationality}}</td>
    <td>{{customer.blood_group}}</td>
    <td><a href={% url 'customer-detail' customers.id %}>View</a></td>
    <td><a href={% url 'customer-update' customer.id %}>edit</a></td>
    
  </tr>
  {% empty %}
  <h3>no customers in  the list</h3>
  {% endfor %}
</table>
